
div.footer
  div Contactanos
   ul
    li 
      a(href="") Facebook
    li 
      a(href="") Twitter
    li 
      a(href="") Whatsapp
    li
      a(href="") Contactar por correo
  div 
    img(src="./img/logo.png", alt="")
  div
    ul
      li
        a(href="index.html") Inicio
      li
        a(href="") Registrarse
      li
        a(href="") Iniciar Sesión
      li
        a(href="") Covid

    
  