doctype html
html(lang="es")
  head
    link(rel="stylesheet" type="text/css" href="styles.css")
    link(href='https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap' rel='stylesheet')
    script(src='https://kit.fontawesome.com/8994a44ae2.js' crossorigin='“anonymous"')

    title qr template
  body
    div.header
      a(href="index.html")
        img(src="./img/logo.png", alt="")
      div
        a(href="sign-in.html") SIGN IN 
        span /
        a(href="sign-up.html")  SIGN UP
    div.opt
        a(href="index.html") Inicio 
        a(href="covid-info.html") Covid
        a(href="qr-info.html") QR
        a(href="park-info.html") Parquimetro