
doctype html
html(lang="es")
  head
    link(rel="stylesheet" type="text/css" href="styles.css")
    link(href='https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap' rel='stylesheet')
    script(src='https://kit.fontawesome.com/8994a44ae2.js' crossorigin='“anonymous"')

    title qr template
  body
    include includes/header
    div.info
      img(src="./img/qrmund.jpg", alt="")
      dl    
        dt QR (Quick Response): códigos de respuesta rápida. 
          dd 
            p Son códigos de barras que almacenan información. Los dispositivos capaces de capturar imágenes (por ejemplo un smartphone o una tableta) descifran el código y nos trasladan directamente a un enlace o archivo. 
            p Tan fácil como hacer una foto al código QR y dar el salto al contenido que se oculta tras él.
    div.info
      div.inv
        h1 Ayuda en la pandemia
        p A mediados de marzo, China encontró ideal la aplicación para rastrear los contagios. Más de 500 ciudades chinas implementaron el código QR como salvoconducto digital en los teléfonos de sus pobladores. 
        p El informático Jaime Brito cuenta que las empresas que desarrollan estos códigos en el mundo trabajan tres veces más en plena pandemia de covid-19 que antes de ella. Han pasado de ser casi desconocidas a crecer un 200% en 90 días. Brito afirma que en la pandemia no solo las autoridades se dieron cuenta de la utilidad del código QR, sino que también la gente común descubrió que esta tecnología es una llave que puede usarse en otras actividades y que sirve también para acceder a videos, podcast, website o a una web en la que se puede introducir información como formularios, documentos, Twitter, y demás. 
        p Brito lo ejemplifica: un profesor puede crear el código QR de un video para que luego lo vean sus alumnos. Cuando se trabaja con papel, fotocopias, etc, se puede añadirles el QR de videos o podcasts que completen el texto. Las editoriales en Europa lo están implementando para que el lector amplíe luego la información sobre lo que leyó.
      img(src="./img/qr-china.jpg", alt="")
    div.inv
      h1 En resumen
      p  Los ‘QR codes’ son códigos generados mediante una aplicación generalmente online -también hay aplicaciones de escritorio-, para ser posteriormente impresos en papel o mostrados en un aparato y ser leídos por otro dispositivo móvil que incluye un decodificador o escáner. Es decir, un código QR es una imagen que lleva una información interpretada luego por un dispositivo como un hipervínculo. Hasta hace tres meses este código era sobre todo utilizado para verificar los billetes de avión y de tren.
      a.boton(href="#") MÁS INFORMACIÓN
   
     
    include includes/footer